# =====================================================
# RSRoute Configuration
# =====================================================

HOST=127.0.0.1
PORT=8000

# Authentication
ENABLE_AUTH=true # if you wanna run server on cloud
RSRoute_MASTER_KEY=RSRoute_xx # key must be start with `RSRoute_`
# if `ENABLE_AUTH=true` master key will be asked. and length must be greater than 6. (exclude RSRoute_)


# Providers
# Enter API which provider you use or left as they are
MISTRAL_API_KEY=

HUGGINGFACEHUB_API_TOKEN=

OPENROUTER_API_KEY=

OPENAI_API_KEY=

GOOGLE_API_KEY=

GROQ_API_KEY=